<h1>Creación de actividades
    <div *ngIf="loading" class="spinner-border text-success" style="width: 3rem; height: 3rem;" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</h1>
<div *ngIf="submitted && createEmpleado.invalid" class="alert alert-danger text-justify" role="alert">
    ¡TODOS los campos son obligatorios!
</div>
<form [formGroup]="createEmpleado" (ngSubmit)="agregarActividad()">

    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="form-floating mb-4 mt-5">
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" formControlName="nombre">
                    <label for="nombre">Nombre</label>
                </div>
            </div>
            <div class="col-6">
                <div class="form-floating mt-5">
                    <input type="text" class="form-control" id="prediccion" name="prediccion" placeholder="Prediccion" formControlName="prediccion">
                    <label for="prediccion">Prediccion</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-floating mb-4">
                    <input class="form-control form-control" type="date" id="fecha" name="fecha" formControlName="fecha">
                    <label for="fecha">Fecha</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-floating mb-4">
                    <img src="{{imagePath}}" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-floating mb-5">
                    <button type="submit" class="btn btn-success">Crear actividad</button>
                </div>
            </div>
        </div>
    </div>
</form>