<p>create-activity works!</p>
<h1>Creación de actividades</h1>
<!-- <form (submit)="submitForm($event)"> -->
<form>
    <div>
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" [(ngModel)]="activity.nombre">
    </div>
    <br>
    <div>
        <label for="fecha">Fecha</label>
        <input type="text" id="fecha" name="fecha" [(ngModel)]="activity.fecha">
    </div>
    <div>
        <label for="prediccion">Prediccion</label>
        <input type="text" id="prediccion" name="prediccion" [(ngModel)]="activity.prediccion">
    </div>
    <br>
    <input type="submit" value="Crear actividad">
</form>