h1 {
    text-align: center;
    color: white;
}

.container {
    border: 3px solid white;
}

label {
    color: white;
}

input {
    color: white;
    background-color: #000;
}

input:focus {
    background-color: #000;
    color: white;
}