<p>login-user works!</p>
<h1>Iniciar sesión</h1>

<form [formGroup]="loginForm" (ngSubmit)="logIn()">
    <div>
        <label for="email">Email</label>
        <input type="text" name="email" id="email" formControlName="email">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="text" name="password" id="password" formControlName="password">
    </div>
    <div>
        <input type="submit" value="Iniciar sesión">
    </div>
</form>
<!-- 
email thevdream9@gmail.com
pwd LSAventura9899 -->

<!-- ale1234 -->