<h1>Listado de actividades</h1>
<table *ngIf="activities.length >0">
    <tr>
        <th>Nombre</th>
        <th>Fecha</th>
        <th>Prediccion</th>
        <th>Acciones</th>
    </tr>
    <ng-container *ngIf="activities">
        <tr *ngFor="let activity of activities">
            <td>{{activity.nombre}}</td>
            <td>{{activity.fecha}}</td>
            <td>{{activity.prediccion}}</td>
            <td>
                <i [routerLink]="['/update/', activity.id]" class="far fa-edit fa-2x text-info mr-2"></i>
                <app-delete-activity [id]="activity.id" style="cursor: pointer;"></app-delete-activity>
            </td>
        </tr>
    </ng-container>
</table>